:root {
  --hue-color: 218;
  --primary-color: hsl(var(--hue-color), 48%, 43%);
  --color-primary-light: hsl(var(--hue-color), 49%, 50%);
  --body-color: hsl(var(--hue-color), 48%, 96%);
  --color-text: hsl(var(--hue-color), 20%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-color);
}

h2 {
  color: var(--primary-color);
}

p {
  color: var(--color-text);
}

.toggle-theme {
  border: none;
  outline: none;
  font-size: inherit;
  padding: 1rem 1.5rem;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: 1.3s background;
}
.toggle-theme:hover {
  background: var(--color-primary-light);
}

/* utility class */
.dark-mode {
  --hue-color: 218;
  --primary-color: hsl(var(--hue-color), 49%, 75%);
  --color-primary-light: hsl(var(--hue-color), 49%, 50%);
  --body-color: hsl(var(--hue-color), 49%, 10%);
  --color-text: hsl(var(--hue-color), 20%, 90%);
}
